*,
*:before
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #333;
}

.connect4-column {
  float: left;
  width: 100px;
}

.connect4-row {
  background: #eee;
  border-radius: 50%;
  display: block;
  height: 80px;
  margin: 10px auto;
  text-decoration: none;
  width: 80px;
  color: #333;
  padding: 35% 0 0 0;
  text-align: center;
  font-size: 12px;
}

.connect4-row:hover {
  background-color: #ddd;
}

.connect4-row.connect4-row--red {
  background-color: #801515;
}

.connect4-row.connect4-row--blue {
  background-color: #231858;
}
