$cell-size: 80px;
$cell-size-mini: 30px;

.connect4-cell {
  background: $cell-empty;
  border-radius: 50%;
  border: none;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: $cell-size;
  margin: 10px auto;
  outline: none;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: $cell-size;

  .connect4-board--active &:hover {
    background-color: $cell-empty-hover;
  }

  .connect4-board--inactive & {
    cursor: default;
  }

  &.connect4-cell--red {
    background-color: $cell-player-red !important;
  }

  &.connect4-cell--blue {
    background-color: $cell-player-blue !important;
  }

  &.connect4-cell--mini {
    cursor: default;
    height: $cell-size-mini;
    margin: 0;
    width: $cell-size-mini;
  }

}

