// Connect4 variables: color states
$cell-empty: #eeeeee;
$cell-empty-hover: #dddddd;
$cell-player-red: #801515;
$cell-player-blue: #231858;

// Connect4 Components
@import 'connect4/column';
@import 'connect4/cell';
