*,
*:before
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #333;
}

.container {
  width: 700px;
  margin: 10px auto;
}

.col {
  display: inline-block;
}

.col--half {
  width: 50%;
}

.align-right {
  text-align: right;
}
